<nav class="navbar navbar-expand-lg navbar-light shadow fixed-bottom" style="background-color: white;">
    <div class="container">
        <div class="navbar-nav">
            <a class="nav-link fw-bold m-2" aria-current="page" style="color: black;">Valor do Estoque:</a>
            <a class="nav-link fw-bold m-2" aria-current="page" style="color: black;">R$4.000,00</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link fw-bold m-2" aria-current="page" style="color: darkred;">Investimento:</a>
            <a class="nav-link fw-bold m-2" aria-current="page" style="color: darkred;">R$1.600,00</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link fw-bold m-2" aria-current="page" style="color: darkgreen;">Lucro:</a>
            <a class="nav-link fw-bold m-2" aria-current="page" style="color: darkgreen;">R$2.400,00</a>
        </div>
    </div>
</nav>