<nav class="navbar navbar-expand-lg navbar-light shadow sticky-top" style="background-color: white;">
    <div class="container mt-3 align-items-center">
        <a href="/home"><img src="imagens/logo_semfundo.png" alt="logo" style="height: 70px; width: 190px; margin-top: -2%; margin-bottom: 2%;"></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
            <a class="nav-link fw-bold m-2" aria-current="page" href="/conta" style="color: black;">Conta</a>
            <a class="nav-link fw-bold m-2" aria-current="page" href="/logout" style="color: black;">Logout</a>
        </div>
        </div>
    </div>
</nav>